<% include partials/header %>

<h1>Create new Campground</h1>
<form action="/campgrounds" method="post">
    <input type="text" placeholder="name" name="campgroundName">
    <input type="text" placeholder="image url" name="campgroundImage">
    <button type="submit">Submit</button>
</form>

<a href="/campgrounds">Go Back!</a>
<% include partials/footer %>

